.container {
    width: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
}

@media (min-width: 750px) {
    .container {
        margin: 3rem auto 0 auto;
        border: .1rem solid rgba(163, 163, 163, 0.387);
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

.titulo {
    text-align: center;
    text-transform: uppercase;
}

.form {
    display: flex;
    justify-content: center;
}